.DS_Store
data/simulated_damages_df0_TP1_SSP2_dunc1_tunc1.csv
data/archive/*
docs/*
*.sh.e*
*.sh.o*
*.sh.pe*
*.sh.po*
*.png
*.pdf
*.sh
*.pgf
*311.pyc*
*.pyc
src/_archive/
plots/
notebooks/archive/
logs/
data/archive/
data/ensemble-cb-ir-l-bs-g/
data/ensemble-delay-cbaseline/
aux_notebooks/archive/
archive/
env/
.venv/
venv/
*__pycache__*
*.pyc
build/
dist/
notebooks/
aux_notebooks/